* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 50px;
}

h3 {
    font-weight: 100;
    font-size: 18px;
    width: 800px;
    text-indent: 50px;
    line-height: 1.8;
}

header {
    background-size: cover;
    background: #404eed url("pictures/clouds-header.svg") center;
    display: flex;
    flex-direction: column;
    color: white;
    height: 600px;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 23px 0 100px 0;
    justify-content: center;
}

.left-header {
    position: relative;
    top: 83px;
}

.right-header {
    position: relative;
    top: 79px;
}

.header-center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: center;
    width: 750px;
}

button {
    border-radius: 50px;
    border: transparent;
}

.download-pic {
    position: relative;
    top: 2px;
    width: 20px;
    justify-items: center;
}

.download-button {
    height: 50px;
    width: 320px;
    font-size: 18px;
    margin: 0 10px 0 0;
}

.browser-button {
    background-color: #23272a;
    color: white;
    height: 50px;
    width: 320px;
    font-size: 18px;
    margin: 0 0 0 10px;
}

.logo-pic {
    width: 30px;
    color: white;
}

.under-nav {
    display: flex;
    flex-direction: row;
}

.links {
    display: flex;
    gap: 40px;
    margin: 8px 0 0 160px;
    font-weight: 500;
    font-size: 14px;
}

.login-button {
    margin: 0 0 0 220px;
    width: 70px;
}

.first-container {
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin: 100px 0 0 0;
    justify-content: center;
    align-items: center;
}

.first-con-pic {
    width: 700px;
}

.first-text-container {
    width: 380px;
}

.first-text-container > * {
    width: 380px;
    display: flex;
}

.first-text-container > h1 {
    font-size: 45px;
    font-weight: bold;
}

.first-text-container > p {
    font-size: 18px;
    line-height: 1.8;
    margin-top: 20px;
}

.second-container {
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin: 100px 0 0 0;
    justify-content: center;
    background-color: #f6f6f6;
    align-items: center;
    height: 700px;
}

.second-con-pic {
    width: 700px;
}

.second-text-container {
    width: 380px;
}

.second-text-container > * {
    width: 380px;
    display: flex;
}

.second-text-container > h1 {
    font-size: 45px;
    font-weight: bold;
}

.second-text-container > p {
    font-size: 18px;
    line-height: 1.8;
    margin-top: 20px;
}

.third-container {
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin: 100px 0 0 0;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.third-con-pic {
    width: 700px;
}

.third-text-container {
    width: 380px;
}

.third-text-container > * {
    width: 380px;
    display: flex;
}

.third-text-container > h1 {
    font-size: 45px;
    font-weight: bold;
}

.third-text-container > p {
    font-size: 18px;
    line-height: 1.8;
    margin-top: 20px;
}

.fourth-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0 0 0;
    background-color: #f6f6f6;
    justify-content: center;
    align-items: center;
    height: 1300px;
}

.fourth-container > p {
    font-weight: bolder;
    font-size: 35px;
    background: url("pictures/star-text.svg") left;
    background-size: cover;
}

.fourth-con-pic {
    width: 1180px;
}

.fourth-text-container {
    width: 980px;
    text-align: center;

}

.fourth-text-container > * {
    width: 980px;
    display: flex;
}

.fourth-text-container > h1 {
    font-size: 40px;
    font-weight: bold;
}

.fourth-text-container > p {
    font-size: 18px;
    line-height: 1.8;
    margin-top: 20px;
}

.second {
    background-color: #5865f2;
    color: white;
}

footer {
    background-color: #23272a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    height: 600px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px;
    justify-items: center;
    color: white;
}

.grid-container > div {
    display: flex;
    flex-direction: column;
    margin: 100px 0 0 0;
    font-size: 14px;

}

.grid-container > div > p {
    color: #5865f2;
    margin-bottom: 20px;
}

.reg-button {
    width: 150px;
    height: 30px;
    color: white;
    background-color: #5865f2;
}

.grid-container > div > a {
    margin-bottom: 10px;
}

.bottom-footer {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #5865f2;
    width: 1400px;
}

select {
    background-color: #23272a;
    border: none;
    color: white;
    margin: 24px 0;
    font-size: 14px;
}

.social-media {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

a {
    color: currentColor;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.header-buttons > .download-button:hover, .login-button:hover {
    color: #5865f2;
    transition: 0.5s;
}

.burger-menu {
    display: none;
}

@media (max-width: 1024px) {

    body {
        width: 100%;
    }

    input {
        display: none;
    }

    .left-header {
        display: none;
    }

    .links {
        display: none;
    }

    .header-buttons {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .download-button, .browser-button {
        margin: 0 0 0 0;
    }

    .header-center {
        position: absolute;
        width: 400px;
        left: 30px;
        justify-content: left;
        align-items: unset;
        top: 150px;
    }

    .right-header {
        position: absolute;
        top: 327px;
        left: 420px;
        width: 550px;
    }

    h3 {
        text-align: left;
        text-indent: 0;
        width: 600px;
    }

    header {
        height: 650px;
        background-size: cover;
        align-items: initial;
    }

    nav {
        display: flex;
        justify-content: initial;
    }

    nav > div {
        margin: 0 65% 0 30px;
    }

    .login-button {
        margin: 0 0 0 0;
    }

    .first-container, .second-container, .third-container {
        gap: 20px;
        height: 500px;
        margin-top: 80px;
    }

    .first-container > img, .third-container > img, .second-container > img {
        width: 45%;
    }

    .first-container > div, .third-container > div {
        width: 70%;
    }

    .first-text-container > *, .third-text-container > *, .fourth-text-container > * {
        width: 85%;
    }

    .fourth-container {
        height: 1000px;
    }

    .fourth-container > img {
        width: 70%;
    }

    .social-media {
        grid-area: social-media;
    }

    .grid-container {
        grid-template-columns: 40% 25% 25%;
        grid-template-areas:
        "social-media product company"
        ". resource  politics";
        width: 100%;
        height: 700px;
    }

    .grid-container > div {
        margin: 50px 0 0 0;
    }

    .product {
        grid-area: product;
    }

    .company {
        grid-area: company;
    }

    .resource {
        grid-area: resource;
    }

    .politics {
        grid-area: politics;
    }

    .bottom-footer {
        width: 80%;
    }

    .grid-container > div > * {
        width: 180px;
    }

    .burger-menu {
        display: block;
        margin: 0 0 0 10px;
    }

    #check:checked ~ .sidebar {
        display: block;
    }

    .sidebar {
        max-width: 330px;
        background-color: white;
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        overflow: scroll;
        z-index: 1;
        top: 0;
        border-radius: 8px 0 0 8px;
        left: calc(100% - 375px);
    }

    .sidebar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin: 20px 0 20px 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ebedef;;
    }

    .sidebar-header a, .sidebar-header label {
        margin: 10px 0 0 10px;
    }

    .sidebar-header label {
        margin-right: 10px;
    }

    .sidebar-within {
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 0 30px;
        gap: 15px;
    }

    .arrow, .saf-arrow {
        width: 22px;
    }

    .safety label {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .download-button-sidebar {
        height: 40px;
        width: 280px;
        color: white;
        background-color: #5865f2;
    }

    .download-button-sidebar img {
        width: 15px;
    }

    .sidebar-footer {
        display: flex;
        margin-top: 110%;
        align-items: center;
        justify-content: center;
    }

    .active {
        width: 90%;
        background: #f6f6f6;
        color: #00b0f4;
        border-radius: 8px;
    }

    .sidebar-within a:active {
        width: 90%;
    }

    .safety-bar {
        max-width: 330px;
        background-color: white;
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        overflow: scroll;
        z-index: 1;
        top: 0;
        border-radius: 8px 0 0 8px;
        left: calc(100% - 375px);
    }

    #safety:checked ~ .safety-bar {
        display: block;
    }

    .safety-bar-header {
        display: flex;

        align-items: center;
        flex-direction: row;
        margin: 20px 10px 20px 10px;
        justify-content: space-between;
    }

    .safety-con1, .safety-con2, .safety-con3, .safety-con4 {
        width: 280px;
        margin-left: 20px;
        border-bottom: 1px solid #ebedef;
        padding: 0 0 20px 0;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .safety-con1 h3, .safety-con2 h3, .safety-con3 h3, .safety-con4 h3 {
        font-size: 20px;
    }

    .safety-con1 a, .safety-con2 a, .safety-con3 a, .safety-con4 a {
        font-size: 14px;
        margin-left: 15px;
    }

    .browser-button, .login-button {
        display: none;
    }

    @media (max-width: 768px) {

        input {
            display: none;
        }

        .right-header {
            display: none;
        }

        .header-center {
            width: 100%;
            justify-content: left;
            align-items: unset;
        }

        .header-center h1 {
            width: 90%;
            text-align: left;
            font-size: 36px;
        }

        .left-header {
            position: absolute;
            display: flex;
            width: 550px;
            top: 420px;
        }

        .under-nav {
            flex-direction: column;
        }

        h3 {
            width: 90%;
            font-size: 14px;
        }

        header {
            height: 700px;
            background: #404eed none;
            align-items: initial;
        }

        nav {
            display: flex;
            justify-content: initial;
            width: 100%;
        }

        .first-container, .second-container, .third-container, .fourth-container {
            flex-direction: column;
            gap: 20px;
            align-items: initial;
            height: 120%;
            margin: 50px 0 50px 20px;
            width: 100%;

        }

        .second-container {
            flex-direction: column-reverse;
        }

        .first-text-container h1, .second-text-container h1, .third-text-container h1 {
            font-size: 20px;
            width: 100%;
        }

        .first-text-container p, .second-text-container p, .third-text-container p, .fourth-text-container p {
            font-size: 14px;
            width: 100%;
        }

        .first-container > img, .third-container > img, .second-container > img, .fourth-container > img, .first-container > div, .second-container > div, .third-container > div, .fourth-container > div {
            width: 90%;
        }

        .second-container {
            padding-bottom: 20px;
        }

        .fourth-text-container h1 {
            font-size: 24px;
        }

        .fourth-text-container {
            text-align: initial;
            padding-top: 20px;
        }

        .fourth-container > p {
            font-size: 28px;
            text-align: center;
            font-weight: bold;
        }

        .second {
            margin-top: 10px;
            width: 95%;
        }

        .social-media {
            grid-area: social-media;
        }

        .grid-container {
            grid-template-columns: 45% 45%;
            grid-template-areas:
        "social-media ."
        "product company"
        "resource politics";
            width: 100%;
            height: 110%;
            margin-bottom: 30px;
        }

        .burger-menu {
            display: block;
            margin: 0 0 0 10px;
        }

        #check:checked ~ .sidebar {
            display: block;
        }

        .sidebar {
            max-width: 330px;
            background-color: white;
            display: none;
            position: fixed;
            width: 100%;
            height: 100vh;
            overflow: scroll;
            z-index: 1;
            top: 0;
            border-radius: 8px 0 0 8px;
            left: calc(100% - 365px);
        }

        .sidebar-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            margin: 20px 0 20px 10px;
            padding-bottom: 20px;
            border-bottom: 1px solid #ebedef;;
        }

        .sidebar-header a, .sidebar-header label {
            margin: 10px 0 0 10px;
        }

        .sidebar-header label {
            margin-right: 10px;
        }

        .sidebar-within {
            color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 0 0 30px;
            gap: 15px;
        }

        .arrow, .saf-arrow {
            width: 22px;
        }

        .safety label {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .download-button-sidebar {
            height: 40px;
            width: 280px;
            color: white;
            background-color: #5865f2;
        }

        .download-button-sidebar img {
            width: 15px;
        }

        .sidebar-footer {
            display: flex;
            margin-top: 110%;
            align-items: center;
            justify-content: center;
        }

        .active {
            width: 90%;
            background: #f6f6f6;
            color: #00b0f4;
            border-radius: 8px;
        }

        .sidebar-within a:active {
            width: 90%;
        }

        .safety-bar {
            left: calc(100% - 365px);

        }
    }
}