* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-weight: 1200;
    font-size: 50px;
}

h3 {
    font-weight: 100;
    font-size: 18px;
    width: 800px;
    text-indent: 50px;
    line-height: 1.8;
}

header {
    background-size: cover;
    background: #404eed url("pictures/clouds-header.svg") center;
    display: flex;
    flex-direction: column;
    color: white;
    height: 600px;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 23px 0 100px 0;
    justify-content: center;
}

.left-header {
    position: relative;
    top: 83px;
}

.right-header {
    position: relative;
    top: 79px;
}

.header-center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: center;
    width: 750px;
}

button {
    border-radius: 50px;
    border: transparent;
}

.download-pic {
    position: relative;
    top: 2px;
    width: 20px;
    justify-items: center;
}

.download-button {
    height: 50px;
    width: 320px;
    font-size: 18px;
    margin: 0 10px 0 0;
}

.browser-button {
    background-color: #23272a;
    color: white;
    height: 50px;
    width: 320px;
    font-size: 18px;
    margin: 0 0 0 10px;
}

.logo-pic {
    width: 30px;
    color: white;
}

.under-nav {
    display: flex;
    flex-direction: row;
}

.links {
    display: flex;
    gap: 40px;
    margin: 8px 0 0 160px;
    font-weight: 500;
    font-size: 14px;
}

.login-button {
    margin: 0 0 0 220px;
    width: 70px;
}

.first-container {
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin: 100px 0 0 0;
    justify-content: center;
    align-items: center;
}

.first-con-pic {
    width: 700px;
}

.first-text-container {
    width: 380px;
}

.first-text-container > * {
    width: 380px;
    display: flex;
}

.first-text-container > h1 {
    font-size: 45px;
    font-weight: bold;
}

.first-text-container > p {
    font-size: 18px;
    line-height: 1.8;
    margin-top: 20px;
}

.second-container {
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin: 100px 0 0 0;
    justify-content: center;
    background-color: #f6f6f6;
    align-items: center;
    height: 700px;
}

.second-con-pic {
    width: 700px;
}

.second-text-container {
    width: 380px;
}

.second-text-container > * {
    width: 380px;
    display: flex;
}

.second-text-container > h1 {
    font-size: 45px;
    font-weight: bold;
}

.second-text-container > p {
    font-size: 18px;
    line-height: 1.8;
    margin-top: 20px;
}

.third-container {
    display: flex;
    flex-direction: row;
    gap: 120px;
    margin: 100px 0 0 0;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.third-con-pic {
    width: 700px;
}

.third-text-container {
    width: 380px;
}

.third-text-container > * {
    width: 380px;
    display: flex;
}

.third-text-container > h1 {
    font-size: 45px;
    font-weight: bold;
}

.third-text-container > p {
    font-size: 18px;
    line-height: 1.8;
    margin-top: 20px;
}

.fourth-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0 0 0;
    background-color: #f6f6f6;
    justify-content: center;
    align-items: center;
    height: 1300px;
}

.fourth-container > p {
    font-weight: bolder;
    font-size: 35px;
    background: url("pictures/star-text.svg") left;
    background-size: cover;
}

.fourth-con-pic {
    width: 1180px;
}

.fourth-text-container {
    width: 980px;
    text-align: center;

}

.fourth-text-container > * {
    width: 980px;
    display: flex;
}

.fourth-text-container > h1 {
    font-size: 40px;
    font-weight: bold;
}

.fourth-text-container > p {
    font-size: 18px;
    line-height: 1.8;
    margin-top: 20px;
}

.second {
    background-color: #5865f2;
    color: white;
}

footer {
    background-color: #23272a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    height: 600px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px;
    justify-items: center;
    color: white;
}

.grid-container > div {
    display: flex;
    flex-direction: column;
    margin: 100px 0 0 0;
    font-size: 14px;

}

.grid-container > div > p {
    color: #5865f2;
    margin-bottom: 20px;
}

.reg-button {
    width: 150px;
    height: 30px;
    color: white;
    background-color: #5865f2;
}

.grid-container > div > a {
    margin-bottom: 10px;
}

.bottom-footer {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #5865f2;
    width: 1400px;
}

select {
    background-color: #23272a;
    border: none;
    color: white;
    margin: 24px 0;
    font-size: 14px;
}

.social-media {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

a {
    color: currentColor;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}